@import "../../assets/colors/colors.scss";

.layoutContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;

  &.blur > *:not(.create-boardOverlay, .create-boardContainer) {
    filter: blur(3px);
    pointer-events: none;
  }
  .dropdown-menu {
    position: absolute;
    top: 80px;
    right: 0;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    width: 20vw;
    height: 10vh;
    transition: 1s ease-in-out;

    //animation start
    opacity: 0;
    visibility: hidden;
    transition: 0.3 ease-in-out;
    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &.dark-theme {
    .three-dots {
      color: $background3;
    }
  }
  .deleteButton,
  .editButton {
    cursor: pointer;
  }
}

.header {
  transition: width 0.3s ease;

  &.hidden {
    width: 0vw; // Set to the width to 0
  }
}

.toggleHeader {
  position: fixed;
  bottom: 40px;
  left: 0px;
  height: 5vh;
  width: 10vw;
  border: none;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  background-color: $active;
  z-index: 10;
}

.toggleHeader:hover {
  background-color: $hover;
}
.three-dots-button {
    position: absolute;
    right: 0;
    top: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0px;
    justify-content: center;
    cursor: pointer;
}
.editContainer{
  opacity: 0;
  visibility: hidden;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  border-radius: 10px;
  top: 150px;
  left: 50%;
 //transform: translate(-50%, -50%);
  //width: 150px;
  height: 150px;
  border: 1px solid blue;
  padding: 10px;
//  margin: 10px;
&.visible {
  opacity: 1;
  visibility: visible;
}
}
.editButton{
  margin-top: 2px;
}
@media screen and (max-width:800px) {
  .three-dots-button{
  top: 10px;
}
}
