@import '../../assets/colors/colors.scss';

.mainContainer {
    width: 100%;
    display: flex;
    
    //transition: width 0.3s ease;
    position: relative; // for prevent header overflow

    &.light-theme {
        background-color: white;
    }

}