@import '../../assets/colors/colors.scss';

.header {
  /* padding: 2em; */
  display: flex;
  font-weight: 700;
  flex-direction: column;
  width: 15em;
  height: 100vh;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;

  transform: translateX(0); // initial position for animation

  &.hidden {
    transform: translateX(-100%);
  }

  &.dark-theme {
    background-color: $background2;

    &__content {
      color: white;
    }

    .theme-toggle-wrapper {
      background-color: $background
    }

    .sunSpan {
      transform: translateX(100%) rotate(360deg);
      opacity: 0;
    }

    h1 {
      border-bottom: 1px solid $border;
    }
  }

  &.light-theme {
    background-color: white;
    border-right: 1px solid $light-border;

    .themeToggleBtn {
      background-color: $active;
    }

    .theme-toggle-wrapper {
      background-color: $background3;
    }

    .moonSpan {
      transform: translateX(-100%) rotate(-360deg);
      opacity: 0;
    }

    h1 {
      border-bottom: 1px solid $light-border;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .sunIcon,
  .moonIcon {
    width: 20px;
    height: 20px;
  }

  .sunSpan,
  .moonSpan {
    transition: transform 0.9s ease-in-out, opacity 0.9s ease-in-out;
    display: flex;
    align-items: center;
  }

  .theme-toggle-wrapper {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 10px;
  }

  .themeToggleBtn {
    display: flex;
    justify-content: space-between;
    width: 50%;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
  }

  .board,
  .create-board,
  .hideSidebarBtn {
    margin-top: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;

    color: $text2;
    font-weight: 700;

    img {
      margin-right: 1.5em;
    }
  }

  h1 {
    padding-bottom: 1em;
  }

  p {
    margin: 1em;
    color: $text2;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    margin-bottom: 2em;
  }

  .board,
  .create-board {
    padding: 10px;

  }

  //inside Icons folder
  .boardIcon {
    margin-right: 10px;
  }

  .board:hover,
  .board.active {
    margin-right: 10px;
    color: white;
    background-color: $hover;
    border-radius: 0 30px 30px 0;
  }

  .board.active {
    background-color: $active;
  }

  .create-board {
    color: $active;
  }

  .create-board:hover,
  .hideSidebarBtn:hover {
    color: $hover;
  }

  .create-board:hover img,
  .hideSidebarBtn:hover img {
    fill: $hover;
  }

  .hideSideBarIcon {
    margin-right: 0.4rem;
  }

  h1,
  p,
  .hideSidebarBtn {
    padding: 1em;
  }


}