@import '../../assets/colors/colors.scss';

.header {
  background-color: $background2;
  padding: 2em;
  display: flex;
  flex-direction: column;
  width: 15em;
  color: $text;
  height: 100vh;
  box-sizing: border-box;
    
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__bottom { 
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  button {
    margin-top: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    color: $text2;

    img {
      margin-right: 1.5em;
    }
  }
 
  h1 {
    padding-bottom: 1em;
  }

  p {
    color: $text2;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    margin-bottom: 2em;
  }
}
