@import '../../assets/colors/colors.scss';

.create-boardContainer {
    position: fixed;
    width: 300px;
    padding: 1em;
    //height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $background;
    border: 1px solid red;
    border-radius: 10px;
    text-align: center;
    
    .board-title {
        margin: 5px auto;
        
    }
    .close-btn {
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .board-form{
        text-align: left;
        display: flex;
        flex-direction: column;
    }
    .submit-btn-wrapper{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .submit-btn-wrapper > button{
        width: 100%;
    }
    .errorMsg{
        border: 1px solid red;
        width: 100%;
        padding: 10px;
        margin-top: 2px;
        border-radius: 5px;
        //height: 100px;
    }
    .errorMsg > p{
        //opacity: 0;
        animation: slideInError 0.5s ease-in-out forwards 0.2s;

    }
    @keyframes slideInError{
        from{
            opacity: 0;
            transform: translate(-100%);
        }
        to{
            opacity: 1;
            transform: translateX(0%);
        }
    }
}