@import '../../assets/colors/colors.scss';

.create-boardContainer
{
    position: fixed;
    width: 30%; //should later change to fixed
    height: 30%;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid red;
    border-radius:10px;
    
    //content
    display: flex;
    justify-content: center;
}