@import '../../assets/colors/colors.scss';

.create-boardContainer {
    position: fixed;
    width: 300px;
    padding: 1em;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $background;
    border: 1px solid red;
    border-radius: 10px;
    text-align: center;
    
    .board-title {
        margin: 5px auto;
        
    }
    .close-btn {
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .board-form{
        text-align: left;
        display: flex;
        flex-direction: column;
    }
    .submit-btn-wrapper{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .submit-btn-wrapper > button{
        width: 100%;
    }
}