@import '../../assets/colors/colors.scss';


.platform-container{
    width: 100%;
    position: relative;
    padding: 10px;
//    height: 20vh;
    color: white;
//    border: 1px solid white;

    p{
        color: white;
    }
    .task-title{
     // cursor: move;
        padding: 10px;
        width: 30%;
        margin-top: 10px;
        border: 1px solid red;
        height: 10vh;
        cursor: grab;
    }
    .task-title:active{
        cursor: move;
    }
}