@import '../../assets/colors/colors.scss';


.platform-container {
    width: 100%;
    height: 100vh;
    color: white;
    //justify-content: space-around;
   
    .platform-overflow{
        height: 85vh;
        //width: 84vw;
        overflow-y: auto;
        overflow-x: auto;
        cursor: move;
        
    } 
    
    .platform-wrapper {
        padding: 10px ;
        display: flex;
        gap: 1rem;
    }

    .column-wrapper {
        display: flex;
        width: 100%;
//                                          new 
      //  min-width: 200px;

        //align-items: center;
       // background-color: #49C4E5;
        flex-direction: column;
        gap: 1rem;
    }

    .new-column {
        min-width: 200px;

        display: flex;
        align-items: center;
        justify-content: center;
        height: 70vh;
        width: 100%;
        //margin: 10px;
        padding: 10px;
        border-radius: 10px;
        color: #828fa3;
        background: linear-gradient(to bottom, rgba(121, 132, 147, 0.2), rgba(130, 143, 163, 0.1), rgba(130, 143, 163, 0));
        background-color: $background2;
    }

    .board-name {
        display: flex;
        justify-content: space-between;
    }

  

    h1 {
        font-weight: 200;
        font-size: 20px;
    }

    p {
        margin: 10px;
        display: flex;
        align-items: center;
        color: white;
    }

    &.light-theme {
        color: black;
        background-color: $background3;
    }

}