@import './assets/colors/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Plus Jakarta Sans, sans-serif;
  
}

body{
  overflow-y: hidden;
  //overflow-x:hidden;
 // overflow-x: hidden;
}
// h1 tag

.title {
  transition: padding 0.3s ease-out, height 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  height: 105px;
  border-bottom: 1px solid $light-border;
  background-color: white;

  h1 {
    font-weight: 200;
    font-size: 20px;
  }
}

.dark-theme {
  .title {
    background-color: $background2;
    border-bottom: 1px solid $border;
    border-left: 1px solid $border;
  }
}

.ball {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.blue-ball {
  background-color: #49C4E5;
}

.purple-ball {
  background-color: $active;
}

.green-ball {
  background-color: #67e2ae;
}

// wrapper for card components
.card-placeholder {
  min-height: 100%; // to ensure card can be back to column no matter is empty 
}

//empty div - without cards
.empty {
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  border: 1px dashed red;
  border-radius: 10px;
  width: 30%;
  height: 60%;
}

.platform-container,
.marketing-container,
.roadmap-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .board-name {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-weight: 200;
    font-size: 20px;
  }

  p {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
  }

  &.light-theme {
    color: black;
    background-color: $background3;

    p {
      color: black;
    }
    .new-column {
      color: $text-light;
      background-color: $light-border;
    }
  }

}


.wrapper-horizontal {
  flex-grow: 1;
  height: 85vh;
  overflow-y: auto;
  display: flex;
  gap: 1rem;
  padding: 10px;
  cursor: move;
}


.column-wrapper {
  width: 100%;
  min-width: 200px;
  gap: 1rem;
}

@media screen and (max-width: 800px) {
  .title {
    //justify-content: center;
    height: 5vh;
    padding: 0;

    h1{
      margin-left: 20px;
    }
  }

}